@use "../app" as *;
@mixin header-bar {
  display: flex;
  border-bottom: 1px solid $grey;
  box-shadow: 0px 1px 5px rgb(182, 182, 182);
  align-items: center;
  justify-content: space-between;
}

header {
  height: 100%;
  .topbar {
    @include header-bar;
    background-color: #2f415d;
    box-shadow: 0px 5px 5px rgb(182, 182, 182);
    color: #fff;
    padding: 0.5rem 1rem;

    .phone-number {
      display: inline-flex;
      align-items: center;
      font-size: 1rem;

      .phone {
        width: 2rem;
        &-icon {
          width: 65%;
        }
      }
    }
    .info {
      font-size: 1rem;
    }

    .social-links {
      display: inline-flex;
      width: 6rem;
      align-items: center;
      gap: 1rem;

      .telegram,
      .whatsapp,
      .vkontakte {
        width: 100%;
      }
    }
  }
  .botbar {
    @include header-bar;
    background-color: #fff;
    padding: 0 1rem;
    height: 4rem;

    .logo {
      min-width: 14rem;
      font-size: 20px;
    }

    .navbar {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 5rem;
        font-weight: bold;
        font-size: 2rem;
        font-family: "Great Vibes", cursive;
        transition: all 0.5s;

        &:hover {
          box-shadow: 0px 0px 5px rgb(182, 182, 182);
          color: $secondary-color;
        }
      }
    }
    .shop-icons {
      width: 3rem;
      .wishlist {
        width: 80%;
      }
    }
  }
}
