body {
  font-size: 16px;
  padding: 0;
  margin: 0;

  * {
    box-sizing: border-box;
  }
}

$topbar-height: 4rem;

.topbar {
  height: $topbar-height;
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

main {
  height: calc(100vh - $topbar-height);
  display: flex;
  align-items: stretch;
}

.sidebar {
  width: 16rem;
  flex-shrink: 0;
  border-right: 1px solid #ccc;
}

.content-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0.5rem;
}

.content {
  width: 80rem;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.tile {
  width: 20%;
  height: 16rem;
  padding: 0.5rem;
}

.tile-body {
  background: #ccc;
  height: 100%;
  width: 100%;
}
